html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
body{
      background-image: url("Pictures/blackwood.jpeg");
  background-size: cover;

}
div.flex-column {		 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
color: #dbba66;
  animation-name: change;
  animation-duration: 2.1s;
  position: relative;
  pointer-events: none;
  animation-iteration-count: 1;
  font-size: 10vw;
  font-family: head;
}
@keyframes change {
  from { top:-300px;}
  to{ top:0px;}
 
 }
div.flex-row {		 
    display: grid;
  place-content: center;
    flex-direction: column;
    align-items: center;
       
    
    background-image: url("Pictures/white.jpeg");
    background-size: cover;
  background-position: center;
  height: 20vw;
width:35vw;

font-size: 3vw;
  color: #bfa973;
  
  grid-area: about;
}
.flex-row {
  transition: all 300ms;

}
.flex-row:hover div.about{
  transform: scale(1.1);
  transform-origin: center;
  
}
  .flex-row div.about{
  display: block;
      text-align: center;
   animation: fade-in 1300ms;
    font-family: main;
    pointer-events: none;
    font-size: 3vw;
    
  
}
  .flex-row div.detail{
  display: none;
  animation: fade-in 1300ms;
}
  .flex-row.active div.about{
  display: none;
  
}
  .flex-row.active div.detail{
  display: block;
font-size: 1.7vw;
    padding: 2vw;
      font-family: body;
    pointer-events: none;
}
div.second-row{
      display: flex;
    flex-direction: column;
    align-items: center;
       justify-content: flex-start;
    
    background-image: url("Pictures/white.jpeg");
    background-size: cover;
  background-position: center;
    height: 27vw;
width:40vw;

  color: #bfa973;
  
  grid-area: web;
}
.second-row:hover div.title  {
  transform: scale(1.1);
  transform-origin: center; 
  
}
  div.second-row div.title{
padding-top: 4vw;
  display: block;
   text-align: center;
  font-size: 3vw;
  animation: fade-in 1300ms;
    font-family: main;
       
    pointer-events: none;

}
  div.second-row div.details{
  font-size: 3vw;
  
  display: none;
  animation: fade-in 1300ms;
}
  div.second-row.active div.title{
  
  display: none;
}
  div.second-row.active div.details{
  display: block;
      font-family: body;
font-size: 1.7vw;
    padding: 2vw;
    pointer-events: none;
}


@keyframes fade-in{
  0%{ opacity: 0;}
  100%{opacity: 1;}
}
div.project{
  justify-content: center;
  color: #bfa973;
   
  
}
div.project h1{
  display: flex;
  font-family: main;
  font-size: 10vw;
  place-content: center;
}
div.project p{
  display: flex;
  
      font-size: 3vw;
     align-content: center;
  align-items: center;
  justify-content: center;
  place-content: center;
}

div.info{
  display: flex;
flex-direction: column;
align-items: center;
  padding: 10vw;
  padding-top: 0px;
    font-family: body;
     
}
a{
  font-size: 30px;
  text-decoration: none;
  color: #bfa973;

}
div.projectII p{
  display: flex;
  
  font-size: 3vw;
     align-content: center;
  align-items: center;
  justify-content: center;
  place-content: center;
}

div.cover{
    display: flex;
    flex-direction: column;
  align-items: center;
  font-size: ;
}

img.new{
  display: none;

}

img.original{
  display: block;

}

div.cover.active img.new{
  display: block;

}

div.cover.active img.original{
  display: none;
 
}

@font-face{
  font-family: head;
  src: url("head.ttf");
}

@font-face{
  font-family: main;
  src: url("main.ttf");
}

@font-face{
  font-family: body;
  src: url("body.ttf");
}

div {
  text-align: justify;
  transition: all 800ms;
  opacity: 0.2;
  filter: blur(2px);
  transform: scaleX(0.1);
}

div.visible {
  transition-delay: 100ms;
  opacity: 1;
  filter: none;
  transform: scaleX(1);
}

div.cover p.imi{
  display: none;

}

div.cover p.org{
  display: block;
    font-size: 6vw;
  font-family: body;

}

div.cover.active p.imi{
  display: block;
       font-size: 6vw;
    font-family: body;

}

div.cover.active p.org{
  display: none;
 
}
.grid{
  display: grid;
      padding-top: 5vw;
  grid-template-areas:
    "gap3 about gap gap4"
    "blnk about web blnk2"
    "gap5 gap2 web gap7";
}